
/* grid template for the main homeserver: 1 column 2 rows*/
.homeserver {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "header"
        "main";
    gap: 1rem;
    min-height: 100vh;
}

.homeserver-header {
    grid-area: header;
}


.homeserver-main {
    border: solid 2px black;
    padding: 5px;
    grid-area: main;
    display: grid;
    grid-template-columns: auto auto;   /* SystemOverview | features-panel */
    gap: 1rem;
}

.features-panel {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}