
/* grid template for the main homeserver: 1 column 2 rows*/
.homeserver {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas: "sidebar main";
    min-height: 100vh;
}

.homeserver-sidebar {
    color: var(--sidebar-color);
    background: var(--sidebar-bg);
    grid-area: sidebar;
    padding: var(--padding);
}


.homeserver-main {
    grid-area: main;
    display: grid;
    grid-template-columns: auto auto;
    align-items: start;
    gap: 1rem;
    padding: var(--padding);
    padding-top: 0px;
    margin-top: 10px;
}

.features-panel {
    background-color: var(--card-bg);
    display: flex;
    flex-direction: column;
    border: 2px solid var(--border);
    border-radius: var(--borderRadius);
    padding: var(--padding);
    gap: 1rem;
}