.container-panel {
    border: 1px solid var(--page_bg);
    background-color: var(--card-bg);
    border-radius: var(--borderRadius);
    padding: 15px;
}

.panel-title {
    border-bottom: solid 2px var(--border);
    padding: 2px;
}

.container-list {
    max-height: 400px;
    overflow-x: hidden;
    overflow-y: scroll;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


/* Container Card Styling */
.Container-Card {
    display: grid;
    grid-template-areas: "CardInfo Actions";
    grid-template-columns: 1fr auto;
    align-items: center;
    border: 2px solid var(--container-card-border);
    border-radius: var(--borderRadius);
    padding: 10px;
}

.Card-Info {
    grid-area: CardInfo;
    border-left: 4px solid var(--border);
    border-radius: var(--borderRadius);
    padding: var(--padding);
}


.Container-state {
    background: #004d00;
    display: inline;
    padding: 6px;
    border-radius: var(--borderRadius);
}

.container-Actions {
    grid-area: Actions;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.action-message {
    color: #28a745;
    font-weight: 600;
    margin-bottom: 12px;
    opacity: 1;
    transition: opacity 0.5s ease;
}

.action-message.fade-out {
    opacity: 0;
}

.error-message {
    color: #dc3545;
    font-weight: 600;
    margin-bottom: 12px;
}

.buttons {
    display: flex;
    gap: 8px;
}

.container-button {
    display: flex;
    gap: 10px;
    background: none;
    color: ghostwhite;
    border: 1px solid var(--container-buttons-border);
    border-radius: var(--borderRadius);
    padding: 8px;
}

