.container-panel {
    border: 1px solid var(--page_bg);
    background-color: var(--card-bg);
    border-radius: var(--borderRadius);
    padding: 15px;
}

.panel-title {
    border-bottom: solid 2px var(--sidebar-bg);
    padding: 2px;
}

.container-list {
    max-height: 400px;
    overflow-x: hidden;
    overflow-y: scroll;
    list-style: none;
}



/* Container Card Styling */
.Container-Card {
    display: grid;
    grid-template-areas: "CardInfo" "Actions";
    grid-template-columns: auto auto;
    border: solid 2px var(--border);
    padding: var(--padding);
}

.Card-Info {
    grid-area: CardInfo;
    /* display: grid; */
    /* grid-template-areas: "";
    grid-template-rows: "";
    grid-column: ""; */

}

.container-Actions {
    grid-area: Actions;
}